@CHARSET "UTF-8";
#tool-bar li.li-first {
    border-bottom: 1px solid rgb(234, 234, 234);
}
#tool-bar li {
    list-style: none outside none;
    text-align: center;
    padding: 8px 0px;
    width: 49px;
}
#tool-bar li.li-last {
    border-top: 1px solid rgb(246, 246, 246);
}
#tool-bar li a, #tool-bar li a:visited {
    color: rgb(119, 119, 119);
    text-align: center;
    display: block;
}
#tool-bar li ul {
    margin: 0px 0px 0px -1px;
    width: 110%;
    display: none;
}
#tool-bar li.li-middle {
    border-top: 1px solid rgb(246, 246, 246);
    border-bottom: 1px solid rgb(234, 234, 234);
}
.tool-bar-icon {
	background: url(/templets/default/v1/Home/image/tool-bar.png) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	margin: 0 auto 3px auto;
}
.tool-comment {
background-position: -19px -16px;
}

.tool-like {
background-position: -19px -48px;
}
.tool-share {
	background-position: -19px -81px;
}




.tool-items a span {
    background: url('../image/icons/share_platform.png') no-repeat scroll 0% 0% transparent;
    display: block;
    height: 24px;
    margin: 0px auto;
}

.activelove {
    background-image: url("/templets/default/v1/Home/image/icons/love_red.ico");
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin-right: 2px;
    vertical-align: middle;
    width: 22px;
}

.tag-span {
    background-color: #bfbfbf;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 8px 0 0;
    padding: 2px 4px;
}
.tag-span {
    color: #3091f2;
    cursor: pointer;
}