@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-20q3zz');
	src:url('fonts/icomoon.eot?#iefix-20q3zz') format('embedded-opentype'),
		url('fonts/icomoon.woff?-20q3zz') format('woff'),
		url('fonts/icomoon.ttf?-20q3zz') format('truetype'),
		url('fonts/icomoon.svg?-20q3zz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-douban:before {
	content: "\e600";
}
.icon-xiaomi:before {
	content: "\e601";
}
